.titleBar {
    position: absolute;
    background-color: #1b1b1b;
    top: 0;
}

.titleBar-onemenu {
    width: 30px;
    height: 25px;
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.titleBar-onemenu:hover {
    background-color: #2b2b2b;
}

.titleBar-buttons {
    right: 0;
    top: 0;
    color: white;
    position: absolute;
    height: 25px;
    cursor: pointer;
    user-select: none;
}

.titleBar-button {
    width: 75px;
    height: 25px;
    display: inline-block;
    text-align: center;
}

#titleBar-feedback:hover {
    background-color: #2b2b2b;
}